*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #dadada;
}
#left{
    width: 75%;
    height: 100%;
}

#left #ltop{
    height: 75%;
    width:100%;
    /* background-color: #dadada; */
    background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}
#left #ltop h1{
    padding: 20px 0px 0px 20px;
}
#left #ltop .arrowrtbt{
    /* border: 2px solid red; */
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 35px;
    cursor: pointer;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.44);
}
#left #lbottom{
    height: 25%;
    width:100%;
    padding: 0px 50px 0px 50px;
    background-color: #333;
    /* border: 2px solid red; */
    color: white;
}
#content{
    width: 80%;
    /* height: 90%; */
    /* border: 2px solid green; */
    justify-content: space-between;
    display: flex;
    /* position: relative; */
}
#lcontent{
    width: 45%;
    /* height: 100%; */
    /* border: 2px solid red; */
    padding: 10px;
}
#lcontent p{
    color: rgba(255, 255, 255, 0.653);
}

#rcontent{
    width: 55%;
    /* height: 100%; */
    /* border: 2px solid blue; */
    padding: 10px;
}
.rcntcontainer{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    margin: 10px;
}
.rcntcontainer p{
    color: rgba(255, 255, 255, 0.653);
}
.rcntcontainer i{
    color: rgba(0, 128, 0, 0.719);
    margin-left: -15px;
    margin-right: 15px;
}
.rowelm{
    display: flex;
}
/* --------------------righttop------------------------------ */
#right{
    width: 25%;
    height: 100%;
}
#right #rtop{
    height: 75%;
    width:100%;
    background-color: white;
    position: relative;
}
.rtimage{
    width: 150px;
    height: 200px;
    background-image: url(https://images.unsplash.com/photo-1584589167171-541ce45f1eea?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    /* background-position: center; */
    position: absolute;
    bottom: 0;
    left: 0;
}
.rtimage i{
    background-color: rgba(255, 255, 255, 0.215);
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
.rtimage i:hover{
    background-color: rgba(245, 245, 245, 0.084);
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.menu a{
    margin-bottom: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-family:'Times New Roman', Times, serif
}
.menu .second{
    margin-left: 25px;
    position: relative;
}
.menu .second::before{
    content: "";
    width: 15px;
    height: 2px;
    background-color: black;
    transform: translate(-25px, 0px);
    margin-top:7px;
    position: absolute;
}
#font{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    position: absolute;
    right: 0;
    margin-top: -40px;
    padding-right: 35px;
}
#font i{
    margin-bottom: 15px;
}

/* --------------------rightbottom------------------------------ */
#right #rbottom{
    height: 25%;
    width:100%;
    /* background-color: #dadada; */
    /* border: 2px solid green; */
    background-image: url(https://images.unsplash.com/photo-1504198266287-1659872e6590?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}
#right #rbottom #next{
    width: 80%;
    margin-left: 10%;
    /* border: 2px solid red; */
    margin-top: 30%;
    position: absolute;
    background-color: white;
    /* display: flex; */
}
#right #rbottom #next #heading{
    display: flex;
    /* justify-content: space-between;
    padding-right: 200px;
    font-size: 20px;
    cursor: pointer; */
}