*{
    margin: 0;
    padding: 0;
}
#counter{
    display: flex;
    gap: 20px;
}
textarea{
    width: 70%;
    height: 200px;
    background-color: #dadada;
    resize: none;
    font-size: 15px;
    outline-color: royalblue;
}